streamlit==1.38.0
pymupdf==1.24.9
sentence-transformers==3.1.1
chromadb==0.5.5
protobuf==4.25.3
opentelemetry-proto==1.25.0
googleapis-common-protos==1.63.2
requests==2.32.3
numpy==1.26.4
Pillow==10.4.0
